{% extends "rockclimb_app/base_template.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to Rock Climbing Routes</h1>
    <p>This app allows you to view, add, update, and delete rock climbing routes that you have post via video or image. </p>
    <p>Then people of the community and experienced climbers can rate the difficulty of that route. 
    <p>It also helps new climbers explore the best climbing routes submitted by our community in different gyms.</p>
</div>
{% endblock %}
