<!-- inherit from base.html-->
{% extends "rockclimb_app/base_template.html" %}
<!-- Replace block content in base_template.html -->
{% block content %}
<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5; /* This sets the background of the entire page */
      margin: 0;
      padding: 0;
    }
    .header, .view-button {
      background-color: #2072d6;
      color: white;
    }

    .header, .update-button {
      background-color: #2072d6;
      color: white;
    }
    
    .container {
      width: 100%;
      margin-left: 0;
      padding: 20px;
      background-color: #fff;
    }
    
    .rockVideo-entry {
      margin-bottom: 10px; /* Adds spacing between entries */
    }
    label {
     margin-right: 10px;
    }
    .view-button {
      padding: 10px 20px;
      text-align: center;
      border: none;
      cursor: pointer;
      width: 8%; /* Full width */
    }
    .view-button:hover {
      background-color: #025fd1; /* Darker shade for hover */
    }

    .update-button{
      padding: 10px 20px;
      text-align: center;
      border: none;
      cursor: pointer;
      width: 8%; /* Full width */
    }

    .update-button:hover{
        background-color: #025fd1; /* Darker shade for hover */
    }

    
  </style>

  <div>
    <h1>Rock Climbing Routes</h1>
    <h2>List of Active Routes</h2>
    <div class="container">
    {% for rockVideo in rockVideos %}
    <div class="rockVideo-entry">
        <div><span>Gym Name: {{ rockVideo.gym_name }}</span></div>
        <div>
          <span><strong>Route Title: {{ rockVideo.title }}</strong></span>
          <a href="{{ rockVideo.get_absolute_url }}" class="view-button">View</a>
          <a href="{% url 'rockVideo-update' rockVideo.pk %}" class="update-button">Update</a>
          <a href="{% url 'rockVideo-delete-confirm' rockVideo.pk %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    {% empty %}
      <p>No active routes found.</p>
    {% endfor %}
  </div>
{% endblock %}